<p id="notice"><%= notice %></p>

<h1>Listing Comitemembers</h1>
<div class="table-responsive">
  <table class="table table-hover" >
  <thead>
    <tr>
      <th>Committee</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comitemembers.each do |comitemember| %>
      <tr>
        <td><%= comitemember.committee_id %></td>
        <td><%= comitemember.member_id %></td>
        <td><%= link_to 'Show', comitemember %></td>
        <td><%= link_to 'Edit', edit_comitemember_path(comitemember) %></td>
        <td><%= link_to 'Destroy', comitemember, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%= link_to 'New Comitemember', new_comitemember_path %>
