
<body>
<%= form_for(@committee) do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre,autofocus: true, class: 'form-control', :required => true %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, autofocus: true, class: 'form-control' %>
  </div>
    <div class="jumbotron div-formulario nuevo">
      <strong>Baner:<%=f.file_field :baner %></strong>
    </div>
   <div class="jumbotron div-formulario nuevo">
     <strong>Logo:<%=f.file_field :logo %></strong>
    </div>

       <div align="center">
      <%= link_to_add_association 'Añadir Integrante', f, :comitemembers,
                                  'data-association-insertion-node' => "#comitemembers-member",
                                  'data-association-insertion-method' => "append",
                                  :wrap_object => Proc.new {|comitemember| comitemember.build_member; comitemember }%>
      <hr/>

      <fieldset id="comitemembers-member">

<ol>
        <%= f.fields_for :comitemembers do |comitemember| %>
            <%= render partial: "comitemember_fields", locals: {f:comitemember} %>
        <%end%>

</ol>
      </fieldset>

    </div>



  <div  align="center" class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
</body>