<%= form_for(@committee) do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre,autofocus: true, class: 'form-control', :required => true %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion, autofocus: true, class: 'form-control' %>
  </div>
    <div class="jumbotron div-formulario nuevo">
      <strong>Baner:<%=f.file_field :baner %></strong>
    </div>
   <div class="jumbotron div-formulario nuevo">
     <strong>Logo:<%=f.file_field :logo %></strong>
    </div>
    <strong>Miembros del Comité</strong>
    <%= fields_for(@committee_member) do |member|%>

    <div class="field">

    <%= collection_select(:members, :id, @all_members, :id, :nombre, {}, {:multiple =>true })%>
    </div>
        <%end%>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
