<div class="container">
  <div class="jumbotron">
<body>
<div class="field">
  <%= image_tag @committee.baner.url(:thumb)  %>

</div>
<div align="center">
 <h2><strong>  <%= @committee.nombre %> </strong><hr></h2>

</div>
<table class="table table-hover">
  <td>
<div class="field">
  <%= image_tag @committee.logo.url(:mini)  %>

</div>
  </td>
  <td>

  <h5><strong>Información:</strong>
  <%= @committee.descripcion %>
  </h5>
  </td>
</table>
<div>
<h5><strong>Integrantes del Comité</strong>
  <% @committee.comitemembers.each do |comite| %>
<%= comite.member.nombre%>
      <%end%>

</h5>
</div>
<center>
<div  class="btn-group" role="group" aria-label="...">
  <%= link_to "Editar Comité".html_safe,
              edit_committee_path(@committee) , class: 'btn btn-success btn-lg active'%>
</div>
<div  class="btn-group" role="group" aria-label="...">
  <%= link_to " Atras".html_safe,
              committees_path , class: 'btn btn-success btn-lg active'%>
</div>

</center>
</body></div></div>