<p id="notice"><%= notice %></p>

<h1>Listing Type Fs</h1>

<table>
  <thead>
    <tr>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_fs.each do |type_f| %>
      <tr>
        <td><%= type_f.file %></td>
        <td><%= link_to 'Show', type_f %></td>
        <td><%= link_to 'Edit', edit_type_f_path(type_f) %></td>
        <td><%= link_to 'Destroy', type_f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type f', new_type_f_path %>
