<p id="notice"><%= notice %></p>

<p>
  <strong>Id activity:</strong>
  <%= @activity_type_f.id_activity %>
</p>

<p>
  <strong>Id type f:</strong>
  <%= @activity_type_f.id_type_f %>
</p>

<%= link_to 'Edit', edit_activity_type_f_path(@activity_type_f) %> |
<%= link_to 'Back', activity_type_fs_path %>
