<body>
<p id="notice"><%= notice %></p>
<div class="container" >
  <div class="jumbotron">

    <h2 align="center" class="titulo"><strong><%= @activity.nombre %></strong></h2>
    <hr>
    <div  align="justify">

      <p>
        <strong>Fecha publicacion:</strong>
        <%= @activity.fecha_publicacion %>
      </p>

      <p>
        <strong>Descripcion:</strong>
        <%= @activity.descripcion %>
      </p>

      <div class="field">
        <%= image_tag @activity.doc.url(:thumb)  %>

      </div>


    </div>
  </div>
</div>


<center>
  <div  class="btn-group" role="group" aria-label="...">
    <%= link_to "Editar Publicación".html_safe,
                edit_activity_path(@activity) , class: 'btn btn-success btn-lg active'%>
  </div>
  <div  class="btn-group" role="group" aria-label="...">
    <%= link_to " Atras".html_safe,
                activities_path , class: 'btn btn-success btn-lg active'%>
  </div>

</center>
</body>