<!DOCTYPE html>
<html>



<head>
  <title>UBosque</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <%= image_tag('logo.png', title: 'Logo', :width => "230px", :height => "70px" ) %>
      </div>

      <!-- Collect the nav links, forms, and other content for
      toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li><%= link_to "Inicio",root_path  %></li>
           </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</head>
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col -align-center">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= yield %>
    </div>

  </div><!--/row-->
  <footer>
    <p>&copy; Facultad de Ingenieria</p>
  </footer>
</div>
</body>
</html>
