<!DOCTYPE html>
<html>
<head>
  <title>UB Facultad Ing</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>

 <br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col -align-center">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    </div>
  </div><!--/row-->
</div><br>
</head>
<body>
<%=render "layouts/partials/navigation"%>
<div align="center">
  <%= image_tag('imagen.png', title: 'Imagen', :width => "1143px", :height => "170px", :class=>"img-responsive aspect img-rounded") %>

</div>
<ol></ol>
<%= yield %>
<h5 align="center">&copy; Facultad de Ingeniería</h5>

</body>

</html>
