<body>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="jumbotron">
    <p align="right">
      <%= link_to "<span class=' glyphicon glyphicon-user'></span> Nuevo Participante".html_safe,
                  new_member_path, class: 'btn btn-success btn-lg active'%>
    </p>
<h2 align="center">Integrantes de los Comités</h2><br>
    <div class="table-responsive">
<table class="table table-hover">
  <thead >
    <tr>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Descripcion</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.nombre %></td>
        <td><%= member.correo %></td>
        <td><%= member.telefono %></td>
        <td><%= member.descripcion %></td>

        <td> <div class="btn-group" role="group" aria-label="...">
          <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe,
                      member, class: 'btn btn-default btn-sm active'%>
        </div>

        </td>
        <td> <div class="btn-group" role="group" aria-label="...">
          <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe,
                      edit_member_path(member), class: 'btn btn-warning btn-sm active'%>
        </div>

        </td>

        <td> <div class="btn-group" role="group" aria-label="...">
          <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe,
                      member, method: :delete, data: { confirm: 'Eliminar?' }, class:"btn btn-success btn-sm active" %>
        </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
<br>

  </div>
</div>

</body>