<body>
<div class="container">
  <div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @member.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @member.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @member.telefono %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @member.descripcion %>
</p>

<p><div class="field">
  <%= image_tag @member.foto.url(:mini)  %>
</div>

    <center>
      <div  class="btn-group" role="group" aria-label="...">
        <%= link_to "Editar Paricipante".html_safe,
                    edit_member_path(@member) , class: 'btn btn-success btn-lg active'%>
      </div>
      <div  class="btn-group" role="group" aria-label="...">
        <%= link_to " Atras".html_safe,
                    members_path , class: 'btn btn-success btn-lg active'%>
      </div>

    </center>
  </div></div>
</body>