<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @member.nombre %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @member.correo %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @member.telefono %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @member.descripcion %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @member.foto %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
